html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}

* {
  box-sizing: border-box;
}
